-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: finex_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `finex_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `finex_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `finex_db`;

--
-- Table structure for table `fa_asset_account_policy`
--

DROP TABLE IF EXISTS `fa_asset_account_policy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_account_policy` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `category_id` bigint NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `asset_account` varchar(64) NOT NULL,
  `accum_depr_account` varchar(64) NOT NULL,
  `depr_expense_account` varchar(64) NOT NULL,
  `disposal_account` varchar(64) NOT NULL,
  `gain_account` varchar(64) NOT NULL,
  `loss_account` varchar(64) NOT NULL,
  `offset_account` varchar(64) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_account_policy` (`company_id`,`category_id`,`book_code`),
  KEY `idx_fa_asset_account_policy_category` (`company_id`,`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset account policy';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_account_policy`
--

LOCK TABLES `fa_asset_account_policy` WRITE;
/*!40000 ALTER TABLE `fa_asset_account_policy` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_account_policy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_card`
--

DROP TABLE IF EXISTS `fa_asset_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_card` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `asset_code` varchar(64) NOT NULL,
  `asset_name` varchar(128) NOT NULL,
  `category_id` bigint NOT NULL,
  `category_code` varchar(64) NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `use_company_id` varchar(64) NOT NULL,
  `use_dept_id` bigint DEFAULT NULL,
  `keeper_user_id` bigint DEFAULT NULL,
  `manager_user_id` bigint DEFAULT NULL,
  `source_type` varchar(16) NOT NULL DEFAULT 'MANUAL',
  `acquire_date` date DEFAULT NULL,
  `in_service_date` date NOT NULL,
  `original_amount` decimal(18,2) NOT NULL,
  `accum_depr_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `salvage_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `net_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `useful_life_months` int NOT NULL,
  `depreciated_months` int NOT NULL DEFAULT '0',
  `remaining_months` int NOT NULL DEFAULT '0',
  `work_total` decimal(18,6) DEFAULT NULL,
  `work_used` decimal(18,6) DEFAULT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'DRAFT',
  `can_depreciate` tinyint(1) NOT NULL DEFAULT '1',
  `last_depr_year` int DEFAULT NULL,
  `last_depr_period` int DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `created_by` varchar(64) DEFAULT NULL,
  `updated_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_card_code` (`company_id`,`asset_code`),
  KEY `idx_fa_asset_card_category` (`company_id`,`category_id`),
  KEY `idx_fa_asset_card_status` (`company_id`,`status`),
  KEY `idx_fa_asset_card_book` (`company_id`,`book_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset card';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_card`
--

LOCK TABLES `fa_asset_card` WRITE;
/*!40000 ALTER TABLE `fa_asset_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_category`
--

DROP TABLE IF EXISTS `fa_asset_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `category_code` varchar(64) NOT NULL,
  `category_name` varchar(128) NOT NULL,
  `share_scope` varchar(16) NOT NULL DEFAULT 'COMPANY',
  `depreciation_method` varchar(32) NOT NULL,
  `useful_life_months` int NOT NULL,
  `residual_rate` decimal(10,4) NOT NULL DEFAULT '0.0500',
  `depreciable` tinyint(1) NOT NULL DEFAULT '1',
  `status` varchar(16) NOT NULL DEFAULT 'ACTIVE',
  `remark` varchar(255) DEFAULT NULL,
  `created_by` varchar(64) DEFAULT NULL,
  `updated_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_category_code` (`company_id`,`category_code`),
  KEY `idx_fa_asset_category_scope` (`company_id`,`share_scope`),
  KEY `idx_fa_asset_category_status` (`company_id`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset category';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_category`
--

LOCK TABLES `fa_asset_category` WRITE;
/*!40000 ALTER TABLE `fa_asset_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_change_bill`
--

DROP TABLE IF EXISTS `fa_asset_change_bill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_change_bill` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `bill_no` varchar(64) NOT NULL,
  `bill_type` varchar(32) NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `fiscal_year` int NOT NULL,
  `fiscal_period` int NOT NULL,
  `bill_date` date NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'DRAFT',
  `total_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `remark` varchar(255) DEFAULT NULL,
  `created_by` varchar(64) DEFAULT NULL,
  `posted_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `posted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_change_bill` (`company_id`,`bill_no`,`bill_type`),
  KEY `idx_fa_asset_change_bill_period` (`company_id`,`fiscal_year`,`fiscal_period`,`book_code`),
  KEY `idx_fa_asset_change_bill_status` (`company_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset change bill';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_change_bill`
--

LOCK TABLES `fa_asset_change_bill` WRITE;
/*!40000 ALTER TABLE `fa_asset_change_bill` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_change_bill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_change_line`
--

DROP TABLE IF EXISTS `fa_asset_change_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_change_line` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `bill_id` bigint NOT NULL,
  `asset_id` bigint DEFAULT NULL,
  `asset_code` varchar(64) NOT NULL,
  `asset_name` varchar(128) DEFAULT NULL,
  `change_type` varchar(32) NOT NULL,
  `category_id` bigint DEFAULT NULL,
  `category_code` varchar(64) DEFAULT NULL,
  `use_company_id` varchar(64) DEFAULT NULL,
  `use_dept_id` bigint DEFAULT NULL,
  `keeper_user_id` bigint DEFAULT NULL,
  `in_service_date` date DEFAULT NULL,
  `change_amount` decimal(18,2) DEFAULT NULL,
  `old_value` decimal(18,2) DEFAULT NULL,
  `new_value` decimal(18,2) DEFAULT NULL,
  `old_salvage_amount` decimal(18,2) DEFAULT NULL,
  `new_salvage_amount` decimal(18,2) DEFAULT NULL,
  `old_useful_life_months` int DEFAULT NULL,
  `new_useful_life_months` int DEFAULT NULL,
  `old_remaining_months` int DEFAULT NULL,
  `new_remaining_months` int DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_fa_asset_change_line_bill` (`company_id`,`bill_id`),
  KEY `idx_fa_asset_change_line_asset` (`company_id`,`asset_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset change line';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_change_line`
--

LOCK TABLES `fa_asset_change_line` WRITE;
/*!40000 ALTER TABLE `fa_asset_change_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_change_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_depr_line`
--

DROP TABLE IF EXISTS `fa_asset_depr_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_depr_line` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `run_id` bigint NOT NULL,
  `asset_id` bigint NOT NULL,
  `asset_code` varchar(64) NOT NULL,
  `asset_name` varchar(128) NOT NULL,
  `category_id` bigint NOT NULL,
  `depreciation_method` varchar(32) NOT NULL,
  `work_amount` decimal(18,6) DEFAULT NULL,
  `depreciation_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `before_accum_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `after_accum_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `before_net_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `after_net_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_fa_asset_depr_line_run` (`company_id`,`run_id`),
  KEY `idx_fa_asset_depr_line_asset` (`company_id`,`asset_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset depreciation line';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_depr_line`
--

LOCK TABLES `fa_asset_depr_line` WRITE;
/*!40000 ALTER TABLE `fa_asset_depr_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_depr_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_depr_run`
--

DROP TABLE IF EXISTS `fa_asset_depr_run`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_depr_run` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `run_no` varchar(64) NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `fiscal_year` int NOT NULL,
  `fiscal_period` int NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'DRAFT',
  `asset_count` int NOT NULL DEFAULT '0',
  `total_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `remark` varchar(255) DEFAULT NULL,
  `created_by` varchar(64) DEFAULT NULL,
  `posted_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `posted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_depr_run` (`company_id`,`run_no`),
  KEY `idx_fa_asset_depr_run_period` (`company_id`,`fiscal_year`,`fiscal_period`,`book_code`),
  KEY `idx_fa_asset_depr_run_status` (`company_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset depreciation run';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_depr_run`
--

LOCK TABLES `fa_asset_depr_run` WRITE;
/*!40000 ALTER TABLE `fa_asset_depr_run` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_depr_run` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_disposal_bill`
--

DROP TABLE IF EXISTS `fa_asset_disposal_bill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_disposal_bill` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `bill_no` varchar(64) NOT NULL,
  `bill_type` varchar(32) NOT NULL DEFAULT 'DISPOSAL',
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `fiscal_year` int NOT NULL,
  `fiscal_period` int NOT NULL,
  `bill_date` date NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'DRAFT',
  `total_original_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `total_accum_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `total_net_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `remark` varchar(255) DEFAULT NULL,
  `created_by` varchar(64) DEFAULT NULL,
  `posted_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `posted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_disposal_bill` (`company_id`,`bill_no`,`bill_type`),
  KEY `idx_fa_asset_disposal_bill_period` (`company_id`,`fiscal_year`,`fiscal_period`,`book_code`),
  KEY `idx_fa_asset_disposal_bill_status` (`company_id`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset disposal bill';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_disposal_bill`
--

LOCK TABLES `fa_asset_disposal_bill` WRITE;
/*!40000 ALTER TABLE `fa_asset_disposal_bill` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_disposal_bill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_disposal_line`
--

DROP TABLE IF EXISTS `fa_asset_disposal_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_disposal_line` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `bill_id` bigint NOT NULL,
  `asset_id` bigint NOT NULL,
  `asset_code` varchar(64) NOT NULL,
  `asset_name` varchar(128) NOT NULL,
  `category_id` bigint NOT NULL,
  `original_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `accum_depr_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `net_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `remark` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_fa_asset_disposal_line_bill` (`company_id`,`bill_id`),
  KEY `idx_fa_asset_disposal_line_asset` (`company_id`,`asset_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset disposal line';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_disposal_line`
--

LOCK TABLES `fa_asset_disposal_line` WRITE;
/*!40000 ALTER TABLE `fa_asset_disposal_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_disposal_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_opening_import`
--

DROP TABLE IF EXISTS `fa_asset_opening_import`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_opening_import` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `batch_no` varchar(64) NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `fiscal_year` int NOT NULL,
  `fiscal_period` int NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'DRAFT',
  `total_rows` int NOT NULL DEFAULT '0',
  `success_rows` int NOT NULL DEFAULT '0',
  `failed_rows` int NOT NULL DEFAULT '0',
  `created_by` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_opening_import_batch` (`company_id`,`batch_no`),
  KEY `idx_fa_asset_opening_import_period` (`company_id`,`fiscal_year`,`fiscal_period`,`book_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset opening import batch';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_opening_import`
--

LOCK TABLES `fa_asset_opening_import` WRITE;
/*!40000 ALTER TABLE `fa_asset_opening_import` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_opening_import` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_opening_import_line`
--

DROP TABLE IF EXISTS `fa_asset_opening_import_line`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_opening_import_line` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `batch_id` bigint NOT NULL,
  `row_no` int NOT NULL,
  `asset_code` varchar(64) DEFAULT NULL,
  `asset_name` varchar(128) DEFAULT NULL,
  `category_code` varchar(64) DEFAULT NULL,
  `result_status` varchar(16) NOT NULL,
  `error_message` varchar(500) DEFAULT NULL,
  `imported_asset_id` bigint DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_fa_asset_opening_import_line_batch` (`company_id`,`batch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset opening import line';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_opening_import_line`
--

LOCK TABLES `fa_asset_opening_import_line` WRITE;
/*!40000 ALTER TABLE `fa_asset_opening_import_line` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_opening_import_line` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_period_close`
--

DROP TABLE IF EXISTS `fa_asset_period_close`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_period_close` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `book_code` varchar(32) NOT NULL DEFAULT 'FINANCE',
  `fiscal_year` int NOT NULL,
  `fiscal_period` int NOT NULL,
  `status` varchar(16) NOT NULL DEFAULT 'CLOSED',
  `closed_by` varchar(64) DEFAULT NULL,
  `closed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_period_close` (`company_id`,`fiscal_year`,`fiscal_period`,`book_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset period close';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_period_close`
--

LOCK TABLES `fa_asset_period_close` WRITE;
/*!40000 ALTER TABLE `fa_asset_period_close` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_period_close` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fa_asset_voucher_link`
--

DROP TABLE IF EXISTS `fa_asset_voucher_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fa_asset_voucher_link` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_id` varchar(64) NOT NULL,
  `business_type` varchar(32) NOT NULL,
  `business_id` bigint NOT NULL,
  `voucher_no` varchar(128) NOT NULL,
  `iperiod` int NOT NULL,
  `csign` varchar(32) NOT NULL,
  `ino_id` int NOT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_fa_asset_voucher_link` (`company_id`,`business_type`,`business_id`),
  KEY `idx_fa_asset_voucher_link_voucher` (`company_id`,`voucher_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Fixed asset voucher link';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fa_asset_voucher_link`
--

LOCK TABLES `fa_asset_voucher_link` WRITE;
/*!40000 ALTER TABLE `fa_asset_voucher_link` DISABLE KEYS */;
/*!40000 ALTER TABLE `fa_asset_voucher_link` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gl_accass`
--

DROP TABLE IF EXISTS `gl_accass`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_accass` (
  `cbegind_c` varchar(255) DEFAULT NULL COMMENT '金额期初方向',
  `cbegind_c_engl` varchar(255) DEFAULT NULL COMMENT '金额期初方向英文',
  `ccode` varchar(255) DEFAULT NULL COMMENT '科目编码',
  `ccus_id` varchar(255) DEFAULT NULL COMMENT '客户编码',
  `cdept_id` varchar(255) DEFAULT NULL COMMENT '部门编码',
  `cendd_c` varchar(255) DEFAULT NULL COMMENT '金额期末方向',
  `cendd_c_engl` varchar(255) DEFAULT NULL COMMENT '金额期末方向英文',
  `cexch_name` varchar(255) DEFAULT NULL COMMENT '币种名称',
  `citem_class` varchar(255) DEFAULT NULL COMMENT '项目大类编码',
  `citem_id` varchar(255) DEFAULT NULL COMMENT '项目编码',
  `cperson_id` varchar(255) DEFAULT NULL COMMENT '职员编码',
  `csup_id` varchar(255) DEFAULT NULL COMMENT '供应商编码',
  `i_id` int NOT NULL AUTO_INCREMENT COMMENT '自动编号',
  `iperiod` tinyint DEFAULT NULL COMMENT '会计期间',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `mb` decimal(18,2) DEFAULT NULL COMMENT '金额期初',
  `mb_f` decimal(18,2) DEFAULT NULL COMMENT '外币期初',
  `mc` decimal(18,2) DEFAULT NULL COMMENT '贷方金额',
  `mc_f` decimal(18,2) DEFAULT NULL COMMENT '外币贷方金额',
  `md` decimal(18,2) DEFAULT NULL COMMENT '借方金额',
  `md_f` decimal(18,2) DEFAULT NULL COMMENT '外币借方金额',
  `me` decimal(18,2) DEFAULT NULL COMMENT '金额期末',
  `me_f` decimal(18,2) DEFAULT NULL COMMENT '外币期末',
  `nb_s` decimal(18,6) DEFAULT NULL COMMENT '数量期初',
  `nc_s` decimal(18,6) DEFAULT NULL COMMENT '数量贷方',
  `nd_s` decimal(18,6) DEFAULT NULL COMMENT '数量借方',
  `ne_s` decimal(18,6) DEFAULT NULL COMMENT '数量期末',
  PRIMARY KEY (`i_id`),
  KEY `idx_gl_accass_iperiod` (`iperiod`),
  KEY `idx_gl_accass_ccode` (`ccode`),
  KEY `idx_gl_accass_ccus_id` (`ccus_id`),
  KEY `idx_gl_accass_csup_id` (`csup_id`),
  KEY `idx_gl_accass_cperson_id` (`cperson_id`),
  KEY `idx_gl_accass_cdept_id` (`cdept_id`),
  KEY `idx_gl_accass_citem_id` (`citem_id`),
  KEY `idx_gl_accass_company_id` (`company_id`),
  CONSTRAINT `fk_gl_accass_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='辅助总账';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gl_accass`
--

LOCK TABLES `gl_accass` WRITE;
/*!40000 ALTER TABLE `gl_accass` DISABLE KEYS */;
/*!40000 ALTER TABLE `gl_accass` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gl_accsum`
--

DROP TABLE IF EXISTS `gl_accsum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_accsum` (
  `cbegind_c` varchar(255) DEFAULT NULL COMMENT '金额期初方向',
  `cbegind_c_engl` varchar(255) DEFAULT NULL COMMENT '金额期初方向英文',
  `ccode` varchar(255) DEFAULT NULL COMMENT '科目编码',
  `cendd_c` varchar(255) DEFAULT NULL COMMENT '金额期末方向',
  `cendd_c_engl` varchar(255) DEFAULT NULL COMMENT '金额期末方向英文',
  `cexch_name` varchar(255) DEFAULT NULL COMMENT '币种名称',
  `i_id` int NOT NULL AUTO_INCREMENT COMMENT '自动编号',
  `iperiod` tinyint DEFAULT NULL COMMENT '会计期间',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `mb` decimal(18,2) DEFAULT NULL COMMENT '金额期初',
  `mb_f` decimal(18,2) DEFAULT NULL COMMENT '外币期初',
  `mc` decimal(18,2) DEFAULT NULL COMMENT '贷方金额',
  `mc_f` decimal(18,2) DEFAULT NULL COMMENT '外币贷方金额',
  `md` decimal(18,2) DEFAULT NULL COMMENT '借方金额',
  `md_f` decimal(18,2) DEFAULT NULL COMMENT '外币借方金额',
  `me` decimal(18,2) DEFAULT NULL COMMENT '金额期末',
  `me_f` decimal(18,2) DEFAULT NULL COMMENT '外币期末',
  `nb_s` decimal(18,6) DEFAULT NULL COMMENT '数量期初',
  `nc_s` decimal(18,6) DEFAULT NULL COMMENT '数量贷方',
  `nd_s` decimal(18,6) DEFAULT NULL COMMENT '数量借方',
  `ne_s` decimal(18,6) DEFAULT NULL COMMENT '数量期末',
  PRIMARY KEY (`i_id`),
  KEY `idx_gl_accsum_iperiod` (`iperiod`),
  KEY `idx_gl_accsum_ccode` (`ccode`),
  KEY `idx_gl_accsum_company_id` (`company_id`),
  CONSTRAINT `fk_gl_accsum_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='科目总账';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gl_accsum`
--

LOCK TABLES `gl_accsum` WRITE;
/*!40000 ALTER TABLE `gl_accsum` DISABLE KEYS */;
/*!40000 ALTER TABLE `gl_accsum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gl_accvouch`
--

DROP TABLE IF EXISTS `gl_accvouch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_accvouch` (
  `i_id` int NOT NULL AUTO_INCREMENT COMMENT '自动编号',
  `iperiod` tinyint DEFAULT NULL COMMENT '会计期间',
  `csign` varchar(255) DEFAULT NULL COMMENT '凭证类别字',
  `isignseq` int DEFAULT NULL COMMENT '凭证类别排序号',
  `ino_id` smallint DEFAULT NULL COMMENT '凭证编号',
  `inid` smallint DEFAULT NULL COMMENT '行号',
  `dbill_date` datetime DEFAULT NULL COMMENT '制单日期',
  `idoc` smallint DEFAULT NULL COMMENT '附单据数',
  `cbill` varchar(255) DEFAULT NULL COMMENT '制单人',
  `ccheck` varchar(255) DEFAULT NULL COMMENT '审核人',
  `cbook` varchar(255) DEFAULT NULL COMMENT '记账人',
  `ibook` tinyint DEFAULT NULL COMMENT '记账标志',
  `ccashier` varchar(255) DEFAULT NULL COMMENT '出纳签字人',
  `iflag` tinyint DEFAULT NULL COMMENT '凭证标志',
  `ctext1` varchar(255) DEFAULT NULL COMMENT '凭证头自定义项1',
  `ctext2` varchar(255) DEFAULT NULL COMMENT '凭证头自定义项2',
  `cdigest` varchar(255) DEFAULT NULL COMMENT '摘要',
  `ccode` varchar(255) DEFAULT NULL COMMENT '科目编码',
  `cexch_name` varchar(255) DEFAULT NULL COMMENT '币种名称',
  `md` decimal(18,2) DEFAULT NULL COMMENT '借方金额',
  `mc` decimal(18,2) DEFAULT NULL COMMENT '贷方金额',
  `md_f` decimal(18,2) DEFAULT NULL COMMENT '外币借方金额',
  `mc_f` decimal(18,2) DEFAULT NULL COMMENT '外币贷方金额',
  `nfrat` decimal(18,6) DEFAULT NULL COMMENT '汇率',
  `nd_s` decimal(18,6) DEFAULT NULL COMMENT '数量借方',
  `nc_s` decimal(18,6) DEFAULT NULL COMMENT '数量贷方',
  `csettle` varchar(255) DEFAULT NULL COMMENT '结算方式编码',
  `cn_id` varchar(255) DEFAULT NULL COMMENT '票据号',
  `dt_date` datetime DEFAULT NULL COMMENT '票号发生日期',
  `cdept_id` varchar(255) DEFAULT NULL COMMENT '部门编码',
  `cperson_id` varchar(255) DEFAULT NULL COMMENT '职员编码',
  `ccus_id` varchar(255) DEFAULT NULL COMMENT '客户编码',
  `csup_id` varchar(255) DEFAULT NULL COMMENT '供应商编码',
  `citem_id` varchar(255) DEFAULT NULL COMMENT '项目编码',
  `citem_class` varchar(255) DEFAULT NULL COMMENT '项目大类编码',
  `cname` varchar(255) DEFAULT NULL COMMENT '业务员',
  `ccode_equal` varchar(255) DEFAULT NULL COMMENT '对方科目编码',
  `iflagbank` tinyint DEFAULT NULL COMMENT '银行账两清标志',
  `iflagPerson` tinyint DEFAULT NULL COMMENT '往来账两清标志',
  `bdelete` tinyint(1) DEFAULT NULL COMMENT '是否核销',
  `coutaccset` varchar(255) DEFAULT NULL COMMENT '外部凭证账套号',
  `ioutyear` smallint DEFAULT NULL COMMENT '外部凭证会计年度',
  `coutsysname` varchar(255) DEFAULT NULL COMMENT '外部凭证系统名称',
  `coutsysver` varchar(255) DEFAULT NULL COMMENT '外部凭证系统版本号',
  `doutbilldate` datetime DEFAULT NULL COMMENT '外部凭证制单日期',
  `ioutperiod` tinyint DEFAULT NULL COMMENT '外部凭证会计期间',
  `coutsign` varchar(255) DEFAULT NULL COMMENT '外部凭证业务类型',
  `coutno_id` varchar(255) DEFAULT NULL COMMENT '外部凭证业务号',
  `doutdate` datetime DEFAULT NULL COMMENT '外部凭证单据日期',
  `coutbillsign` varchar(255) DEFAULT NULL COMMENT '外部凭证单据类型',
  `coutid` varchar(255) DEFAULT NULL COMMENT '外部凭证单据号',
  `bvouchedit` tinyint(1) DEFAULT NULL COMMENT '凭证是否可修改',
  `bvouchAddordele` tinyint(1) DEFAULT NULL COMMENT '凭证分录是否可增删',
  `bvouchmoneyhold` tinyint(1) DEFAULT NULL COMMENT '凭证合计金额是否保值',
  `bvalueedit` tinyint(1) DEFAULT NULL COMMENT '分录数值是否可修改',
  `bcodeedit` tinyint(1) DEFAULT NULL COMMENT '分录科目是否可修改',
  `ccodecontrol` varchar(255) DEFAULT NULL COMMENT '分录受控科目可用状态',
  `bPCSedit` tinyint(1) DEFAULT NULL COMMENT '分录往来项是否可修改',
  `bDeptedit` tinyint(1) DEFAULT NULL COMMENT '分录部门是否可修改',
  `bItemedit` tinyint(1) DEFAULT NULL COMMENT '分录项目是否可修改',
  `bCusSupInput` tinyint(1) DEFAULT NULL COMMENT '分录往来项是否必输',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `cDefine1` varchar(255) DEFAULT NULL COMMENT '自定义项1',
  `cDefine2` varchar(255) DEFAULT NULL COMMENT '自定义项2',
  `cDefine3` varchar(255) DEFAULT NULL COMMENT '自定义项3',
  `cDefine4` datetime DEFAULT NULL COMMENT '自定义项4',
  `cDefine5` int DEFAULT NULL COMMENT '自定义项5',
  PRIMARY KEY (`i_id`),
  KEY `idx_gl_accvouch_company_id` (`company_id`),
  KEY `idx_gl_accvouch_iperiod` (`iperiod`),
  KEY `idx_gl_accvouch_ccode` (`ccode`),
  KEY `idx_gl_accvouch_ino_id` (`ino_id`),
  KEY `idx_gl_accvouch_dbill_date` (`dbill_date`),
  KEY `idx_gl_accvouch_ccus_id` (`ccus_id`),
  KEY `idx_gl_accvouch_csup_id` (`csup_id`),
  KEY `idx_gl_accvouch_cperson_id` (`cperson_id`),
  KEY `idx_gl_accvouch_cdept_id` (`cdept_id`),
  KEY `idx_gl_accvouch_citem_id` (`citem_id`),
  CONSTRAINT `fk_gl_accvouch_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='凭证及明细账';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gl_accvouch`
--

LOCK TABLES `gl_accvouch` WRITE;
/*!40000 ALTER TABLE `gl_accvouch` DISABLE KEYS */;
/*!40000 ALTER TABLE `gl_accvouch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gl_vender`
--

DROP TABLE IF EXISTS `gl_vender`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gl_vender` (
  `cVenCode` varchar(255) NOT NULL COMMENT '供应商编码',
  `cVenName` varchar(255) NOT NULL COMMENT '供应商名称',
  `cVenAbbName` varchar(255) DEFAULT NULL COMMENT '供应商简称',
  `cVCCode` varchar(255) DEFAULT NULL COMMENT '供应商分类编码',
  `cTrade` varchar(255) DEFAULT NULL COMMENT '所属行业',
  `cVenAddress` varchar(255) DEFAULT NULL COMMENT '地址',
  `cVenRegCode` varchar(255) DEFAULT NULL COMMENT '纳税人登记号',
  `cVenBank` varchar(255) DEFAULT NULL COMMENT '开户银行',
  `cVenAccount` varchar(255) DEFAULT NULL COMMENT '银行账号',
  `cVenBankNub` varchar(255) DEFAULT NULL COMMENT '银行行号',
  `cVenPerson` varchar(255) DEFAULT NULL COMMENT '联系人',
  `cVenPhone` varchar(255) DEFAULT NULL COMMENT '电话',
  `cVenHand` varchar(255) DEFAULT NULL COMMENT '手机',
  `cVenEmail` varchar(255) DEFAULT NULL COMMENT 'Email地址',
  `company_id` varchar(255) DEFAULT NULL COMMENT '公司主体编码',
  `cMemo` varchar(255) DEFAULT NULL COMMENT '备注',
  `dEndDate` datetime DEFAULT NULL COMMENT '停用日期',
  `bBusinessDate` tinyint DEFAULT '0' COMMENT '经营许可证是否期限管理',
  `bLicenceDate` tinyint DEFAULT '0' COMMENT '营业执照是否期限管理',
  `bPassGMP` tinyint DEFAULT '0' COMMENT '是否通过GMP认证',
  `bProxyDate` tinyint DEFAULT '0' COMMENT '法人委托书是否期限管理',
  `bProxyForeign` tinyint DEFAULT '0' COMMENT '是否委外',
  `bVenCargo` tinyint DEFAULT '0' COMMENT '是否货物',
  `bVenService` tinyint DEFAULT '0' COMMENT '是否服务',
  `bVenTax` tinyint DEFAULT '0' COMMENT '单价是否含税',
  `cBarCode` varchar(255) DEFAULT NULL COMMENT '对应条形码',
  `cCreatePerson` varchar(255) DEFAULT NULL COMMENT '建档人',
  `cDCCode` varchar(255) DEFAULT NULL COMMENT '地区编码',
  `cModifyPerson` varchar(255) DEFAULT NULL COMMENT '变更人',
  `cRelCustomer` varchar(255) DEFAULT NULL COMMENT '对应客户',
  `cVenBankCode` varchar(255) DEFAULT NULL COMMENT '所属银行编码',
  `cVenBP` varchar(255) DEFAULT NULL COMMENT '呼机',
  `cVenDefine10` varchar(255) DEFAULT NULL COMMENT '供应商自定义项10',
  `cVenDefine11` int DEFAULT NULL COMMENT '供应商自定义项11',
  `cVenDefine12` int DEFAULT NULL COMMENT '供应商自定义项12',
  `cVenDefine13` decimal(18,2) DEFAULT NULL COMMENT '供应商自定义项13',
  `cVenDefine14` decimal(18,2) DEFAULT NULL COMMENT '供应商自定义项14',
  `cVenDefine15` datetime DEFAULT NULL COMMENT '供应商自定义项15',
  `cVenDefine16` datetime DEFAULT NULL COMMENT '供应商自定义项16',
  `cVenDefine3` varchar(255) DEFAULT NULL COMMENT '供应商自定义项3',
  `cVenDefine4` varchar(255) DEFAULT NULL COMMENT '供应商自定义项4',
  `cVenDefine5` varchar(255) DEFAULT NULL COMMENT '供应商自定义项5',
  `cVenDefine6` varchar(255) DEFAULT NULL COMMENT '供应商自定义项6',
  `cVenDefine7` varchar(255) DEFAULT NULL COMMENT '供应商自定义项7',
  `cVenDefine8` varchar(255) DEFAULT NULL COMMENT '供应商自定义项8',
  `cVenDefine9` varchar(255) DEFAULT NULL COMMENT '供应商自定义项9',
  `cVenDepart` varchar(255) DEFAULT NULL COMMENT '分管部门',
  `cVenFax` varchar(255) DEFAULT NULL COMMENT '传真',
  `cVenHeadCode` varchar(255) DEFAULT NULL COMMENT '供应商总公司编码',
  `cVenIAddress` varchar(255) DEFAULT NULL COMMENT '到货地址',
  `cVenIType` varchar(255) DEFAULT NULL COMMENT '到货方式',
  `cVenLPerson` varchar(255) DEFAULT NULL COMMENT '法人',
  `cVenPayCond` varchar(255) DEFAULT NULL COMMENT '付款条件编码',
  `cVenPostCode` varchar(255) DEFAULT NULL COMMENT '邮政编码',
  `cVenPPerson` varchar(255) DEFAULT NULL COMMENT '专营业务员',
  `cVenTradeCCode` varchar(255) DEFAULT NULL COMMENT '行业编码',
  `cVenWhCode` varchar(255) DEFAULT NULL COMMENT '到货仓库',
  `dBusinessEDate` datetime DEFAULT NULL COMMENT '经营许可证到期日期',
  `dBusinessSDate` datetime DEFAULT NULL COMMENT '经营许可证生效日期',
  `dLastDate` datetime DEFAULT NULL COMMENT '最后交易日期',
  `dLicenceEDate` datetime DEFAULT NULL COMMENT '营业执照到期日期',
  `dLicenceSDate` datetime DEFAULT NULL COMMENT '营业执照生效日期',
  `dLRDate` datetime DEFAULT NULL COMMENT '最后付款日期',
  `dModifyDate` datetime DEFAULT NULL COMMENT '变更日期',
  `dProxyEDate` datetime DEFAULT NULL COMMENT '法人委托书到期日期',
  `dProxySDate` datetime DEFAULT NULL COMMENT '法人委托书生效日期',
  `dVenDevDate` datetime DEFAULT NULL COMMENT '发展日期',
  `fRegistFund` decimal(18,2) DEFAULT NULL COMMENT '注册资金',
  `iAPMoney` decimal(18,2) DEFAULT NULL COMMENT '应付余额',
  `iBusinessADays` int DEFAULT NULL COMMENT '经营许可证预警天数',
  `iEmployeeNum` int DEFAULT NULL COMMENT '员工人数',
  `iFrequency` int DEFAULT NULL COMMENT '使用频度',
  `iGradeABC` smallint DEFAULT NULL COMMENT 'ABC等级',
  `iId` int DEFAULT NULL COMMENT '所属权限组',
  `iLastMoney` decimal(18,2) DEFAULT NULL COMMENT '最后交易金额',
  `iLicenceADays` int DEFAULT NULL COMMENT '营业执照预警天数',
  `iLRMoney` decimal(18,2) DEFAULT NULL COMMENT '最后付款金额',
  `iProxyADays` int DEFAULT NULL COMMENT '法人委托书预警天数',
  `iVenCreDate` int DEFAULT NULL COMMENT '信用期限',
  `iVenCreGrade` varchar(255) DEFAULT NULL COMMENT '信用等级',
  `iVenCreLine` decimal(18,2) DEFAULT NULL COMMENT '信用额度',
  `iVenDisRate` decimal(18,2) DEFAULT NULL COMMENT '扣率',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`cVenCode`),
  KEY `idx_gl_Vender_name` (`cVenName`),
  KEY `idx_gl_Vender_company` (`company_id`),
  KEY `idx_gl_Vender_end_date` (`dEndDate`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='供应商档案表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gl_vender`
--

LOCK TABLES `gl_vender` WRITE;
/*!40000 ALTER TABLE `gl_vender` DISABLE KEYS */;
/*!40000 ALTER TABLE `gl_vender` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_code_sequence`
--

DROP TABLE IF EXISTS `pm_code_sequence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_code_sequence` (
  `biz_key` varchar(64) NOT NULL COMMENT '业务键',
  `biz_date` varchar(8) NOT NULL COMMENT '日期分区，格式 yyyyMMdd',
  `current_value` bigint NOT NULL DEFAULT '0' COMMENT '当前已分配流水号',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`biz_key`,`biz_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='编码序列表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_code_sequence`
--

LOCK TABLES `pm_code_sequence` WRITE;
/*!40000 ALTER TABLE `pm_code_sequence` DISABLE KEYS */;
INSERT INTO `pm_code_sequence` VALUES ('DOCUMENT_TEMPLATE','20260327',1,'2026-03-31 19:08:45','2026-04-04 17:17:16'),('DOCUMENT_TEMPLATE','20260331',7,'2026-03-31 19:01:54','2026-04-04 17:17:16');
/*!40000 ALTER TABLE `pm_code_sequence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_custom_archive_design`
--

DROP TABLE IF EXISTS `pm_custom_archive_design`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_custom_archive_design` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '自定义档案ID',
  `archive_code` varchar(64) NOT NULL COMMENT '档案编码',
  `archive_name` varchar(100) NOT NULL COMMENT '档案名称',
  `archive_type` varchar(32) NOT NULL COMMENT '档案类型:SELECT可选档案/AUTO_RULE自动划分',
  `archive_description` varchar(255) DEFAULT NULL COMMENT '档案说明',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_archive_code` (`archive_code`),
  KEY `idx_archive_type` (`archive_type`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='自定义档案';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_custom_archive_design`
--

LOCK TABLES `pm_custom_archive_design` WRITE;
/*!40000 ALTER TABLE `pm_custom_archive_design` DISABLE KEYS */;
INSERT INTO `pm_custom_archive_design` VALUES (1,'PROCESS_TAG_OPTIONS','标签设置','SELECT','用于流程管理中标签设置的默认选择档案',1,'2026-03-27 00:24:56','2026-03-27 09:07:17'),(2,'PROCESS_INSTALLMENT_OPTIONS','分期付款','SELECT','用于流程管理中分期付款的默认选择档案',1,'2026-03-27 00:24:56','2026-03-27 09:07:17'),(5,'CA202603270001','测试','AUTO_RULE','测试',1,'2026-03-27 10:30:36','2026-03-27 10:30:36');
/*!40000 ALTER TABLE `pm_custom_archive_design` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_custom_archive_item`
--

DROP TABLE IF EXISTS `pm_custom_archive_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_custom_archive_item` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '档案结果项ID',
  `archive_id` bigint NOT NULL COMMENT '所属档案ID',
  `item_code` varchar(64) NOT NULL COMMENT '结果项编码',
  `item_name` varchar(100) NOT NULL COMMENT '结果项名称',
  `priority` int DEFAULT '1' COMMENT '优先级，值越小越靠前',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_archive_item_code` (`archive_id`,`item_code`),
  KEY `idx_archive_item_status` (`archive_id`,`status`,`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='自定义档案结果';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_custom_archive_item`
--

LOCK TABLES `pm_custom_archive_item` WRITE;
/*!40000 ALTER TABLE `pm_custom_archive_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_custom_archive_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_custom_archive_rule`
--

DROP TABLE IF EXISTS `pm_custom_archive_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_custom_archive_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '自动划分规则ID',
  `archive_item_id` bigint NOT NULL COMMENT '归属结果项ID',
  `group_no` int NOT NULL DEFAULT '1' COMMENT '规则组号，同组条件为且、组间为或',
  `field_key` varchar(64) NOT NULL COMMENT '匹配字段标识',
  `operator` varchar(32) NOT NULL COMMENT '比较运算符:EQ/NE/IN/NOT_IN/GT/BETWEEN/CONTAINS',
  `compare_value` varchar(500) DEFAULT NULL COMMENT '比较值，按JSON序列化存储',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_archive_item_group` (`archive_item_id`,`group_no`,`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_custom_archive_rule`
--

LOCK TABLES `pm_custom_archive_rule` WRITE;
/*!40000 ALTER TABLE `pm_custom_archive_rule` DISABLE KEYS */;
INSERT INTO `pm_custom_archive_rule` VALUES (1,7,1,'submitterDeptId','EQ','\"5\"','2026-03-27 10:30:36','2026-03-27 10:30:36'),(2,8,1,'submitterDeptId','EQ','\"6\"','2026-03-27 10:30:36','2026-03-27 10:30:36');
/*!40000 ALTER TABLE `pm_custom_archive_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_action_log`
--

DROP TABLE IF EXISTS `pm_document_action_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_action_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '轨迹日志ID',
  `document_code` varchar(64) NOT NULL COMMENT '单据编码',
  `node_key` varchar(64) DEFAULT NULL COMMENT '节点key',
  `node_name` varchar(100) DEFAULT NULL COMMENT '节点名称',
  `action_type` varchar(32) NOT NULL COMMENT '动作类型',
  `actor_user_id` bigint DEFAULT NULL COMMENT '操作人用户ID',
  `actor_name` varchar(100) DEFAULT NULL COMMENT '操作人姓名',
  `action_comment` varchar(500) DEFAULT NULL COMMENT '动作说明/意见',
  `payload_json` longtext COMMENT '扩展载荷',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_pm_document_action_log_document` (`document_code`,`created_at`),
  KEY `idx_pm_document_action_log_node` (`document_code`,`node_key`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='审批轨迹日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_action_log`
--

LOCK TABLES `pm_document_action_log` WRITE;
/*!40000 ALTER TABLE `pm_document_action_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_action_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_expense_detail`
--

DROP TABLE IF EXISTS `pm_document_expense_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_expense_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '费用明细实例ID',
  `document_code` varchar(64) NOT NULL COMMENT '所属单据编码',
  `detail_no` varchar(64) NOT NULL COMMENT '明细编号',
  `detail_design_code` varchar(64) NOT NULL COMMENT '明细设计编码',
  `detail_type` varchar(32) NOT NULL COMMENT '明细类型:NORMAL_REIMBURSEMENT普通报销/ENTERPRISE_TRANSACTION企业往来',
  `enterprise_mode` varchar(32) DEFAULT NULL COMMENT '企业往来模式:PREPAY_UNBILLED预付未开票/INVOICE_FULL_PAYMENT到票全额付款',
  `expense_type_code` varchar(64) DEFAULT NULL COMMENT '费用类型编码',
  `business_scene_mode` varchar(32) DEFAULT NULL COMMENT '业务场景模式:PREPAY_UNBILLED预付未开票/INVOICE_FULL_PAYMENT到票全额付款',
  `detail_title` varchar(200) DEFAULT NULL COMMENT '明细标题',
  `sort_order` int NOT NULL DEFAULT '1' COMMENT '明细排序号',
  `invoice_amount` decimal(18,2) DEFAULT NULL COMMENT '发票金额',
  `actual_payment_amount` decimal(18,2) DEFAULT NULL COMMENT '实付金额',
  `pending_write_off_amount` decimal(18,2) DEFAULT NULL COMMENT '待核销金额',
  `schema_snapshot_json` longtext NOT NULL COMMENT '明细设计快照JSON',
  `form_data_json` longtext NOT NULL COMMENT '明细表单数据JSON',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_document_expense_detail_doc_no` (`document_code`,`detail_no`),
  KEY `idx_pm_document_expense_detail_document` (`document_code`,`sort_order`),
  KEY `idx_pm_document_expense_detail_design` (`detail_design_code`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='费用明细';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_expense_detail`
--

LOCK TABLES `pm_document_expense_detail` WRITE;
/*!40000 ALTER TABLE `pm_document_expense_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_expense_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_instance`
--

DROP TABLE IF EXISTS `pm_document_instance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_instance` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '单据实例ID',
  `document_code` varchar(64) NOT NULL COMMENT '单据编码',
  `template_code` varchar(64) NOT NULL COMMENT '模板编码',
  `template_name` varchar(100) NOT NULL COMMENT '模板名称',
  `template_type` varchar(32) NOT NULL COMMENT '模板类型',
  `form_design_code` varchar(64) DEFAULT NULL COMMENT '表单设计编码',
  `approval_flow_code` varchar(64) DEFAULT NULL COMMENT '审批流程编码',
  `flow_name` varchar(100) DEFAULT NULL COMMENT '审批流程名称',
  `submitter_user_id` bigint NOT NULL COMMENT '提单人用户ID',
  `submitter_name` varchar(100) NOT NULL COMMENT '提单人姓名',
  `document_title` varchar(200) DEFAULT NULL COMMENT '单据标题',
  `document_reason` varchar(500) DEFAULT NULL COMMENT '单据摘要/事由',
  `total_amount` decimal(18,2) DEFAULT NULL COMMENT '总金额',
  `status` varchar(32) NOT NULL DEFAULT 'PENDING_APPROVAL' COMMENT '单据状态',
  `current_node_key` varchar(64) DEFAULT NULL COMMENT '当前节点 key',
  `current_node_name` varchar(100) DEFAULT NULL COMMENT '当前节点名称',
  `current_task_type` varchar(32) DEFAULT NULL COMMENT '当前处理类型',
  `form_data_json` longtext NOT NULL COMMENT '表单填写数据',
  `template_snapshot_json` longtext NOT NULL COMMENT '模板快照',
  `form_schema_snapshot_json` longtext NOT NULL COMMENT '表单schema快照',
  `flow_snapshot_json` longtext COMMENT '流程快照',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `finished_at` datetime DEFAULT NULL COMMENT '流程完成时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_document_instance_code` (`document_code`),
  KEY `idx_pm_document_instance_submitter` (`submitter_user_id`,`created_at`),
  KEY `idx_pm_document_instance_template` (`template_code`),
  KEY `idx_pm_document_instance_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='审批单实例表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_instance`
--

LOCK TABLES `pm_document_instance` WRITE;
/*!40000 ALTER TABLE `pm_document_instance` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_instance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_relation`
--

DROP TABLE IF EXISTS `pm_document_relation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_relation` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'column comment',
  `source_document_code` varchar(64) NOT NULL COMMENT 'column comment',
  `source_field_key` varchar(128) NOT NULL COMMENT 'column comment',
  `target_document_code` varchar(64) NOT NULL COMMENT 'column comment',
  `target_template_type` varchar(32) NOT NULL COMMENT 'column comment',
  `sort_order` int NOT NULL DEFAULT '1' COMMENT 'column comment',
  `status` varchar(32) NOT NULL DEFAULT 'ACTIVE' COMMENT 'column comment',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'column comment',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'column comment',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_document_relation_source_target` (`source_document_code`,`source_field_key`,`target_document_code`),
  KEY `idx_pm_document_relation_source` (`source_document_code`,`source_field_key`,`status`),
  KEY `idx_pm_document_relation_target` (`target_document_code`,`target_template_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='table comment';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_relation`
--

LOCK TABLES `pm_document_relation` WRITE;
/*!40000 ALTER TABLE `pm_document_relation` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_relation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_task`
--

DROP TABLE IF EXISTS `pm_document_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '审批任务ID',
  `document_code` varchar(64) NOT NULL COMMENT '单据编码',
  `node_key` varchar(64) NOT NULL COMMENT '节点key',
  `node_name` varchar(100) DEFAULT NULL COMMENT '节点名称',
  `node_type` varchar(32) NOT NULL COMMENT '节点类型',
  `assignee_user_id` bigint NOT NULL COMMENT '处理人用户ID',
  `assignee_name` varchar(100) DEFAULT NULL COMMENT '处理人姓名',
  `status` varchar(32) NOT NULL DEFAULT 'PENDING' COMMENT '任务状态',
  `task_batch_no` varchar(64) NOT NULL COMMENT '同节点同批次任务号',
  `approval_mode` varchar(32) DEFAULT NULL COMMENT '审批模式',
  `task_kind` varchar(32) DEFAULT NULL COMMENT 'task kind',
  `source_task_id` bigint DEFAULT NULL COMMENT 'source task id',
  `action_comment` varchar(500) DEFAULT NULL COMMENT '处理意见',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `handled_at` datetime DEFAULT NULL COMMENT '处理时间',
  PRIMARY KEY (`id`),
  KEY `idx_pm_document_task_assignee` (`assignee_user_id`,`status`,`created_at`),
  KEY `idx_pm_document_task_document` (`document_code`,`created_at`),
  KEY `idx_pm_document_task_node_batch` (`document_code`,`node_key`,`task_batch_no`),
  KEY `idx_pm_document_task_source` (`source_task_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='审批任务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_task`
--

LOCK TABLES `pm_document_task` WRITE;
/*!40000 ALTER TABLE `pm_document_task` DISABLE KEYS */;
INSERT INTO `pm_document_task` VALUES (1,'DOC202604040001','approval-1774618120740-f933','领导审批','APPROVAL',2,'张三','PENDING','DOC202604040001-approval-1774618120740-f933-1775306216459','OR_SIGN','NORMAL',NULL,NULL,'2026-04-04 20:36:56',NULL),(2,'DOC202604040002','approval-1774618120740-f933','领导审批','APPROVAL',1,'管理员','PENDING','DOC202604040002-approval-1774618120740-f933-1775306216476','OR_SIGN','NORMAL',NULL,NULL,'2026-04-04 20:36:56',NULL);
/*!40000 ALTER TABLE `pm_document_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_template`
--

DROP TABLE IF EXISTS `pm_document_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '模板ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `template_code` varchar(64) NOT NULL COMMENT '模板编码',
  `template_name` varchar(100) NOT NULL COMMENT '模板名称',
  `template_type` varchar(32) NOT NULL COMMENT '模板类型:report/application/loan',
  `template_type_label` varchar(32) NOT NULL COMMENT '模板类型中文名',
  `category_code` varchar(64) NOT NULL COMMENT '分类编码',
  `template_description` varchar(500) DEFAULT NULL COMMENT '模板说明',
  `numbering_rule` varchar(64) DEFAULT NULL COMMENT '编号规则',
  `form_design_code` varchar(64) DEFAULT NULL COMMENT '表单设计编码',
  `expense_detail_design_code` varchar(64) DEFAULT NULL COMMENT 'expense detail design code',
  `icon_color` varchar(32) DEFAULT 'blue' COMMENT '主题色',
  `enabled` tinyint DEFAULT '1' COMMENT '是否启用',
  `publish_status` varchar(16) DEFAULT 'ENABLED' COMMENT '发布状态',
  `print_mode` varchar(64) DEFAULT NULL COMMENT '打印方式',
  `approval_flow` varchar(64) DEFAULT NULL COMMENT '审批流程编码',
  `flow_name` varchar(100) DEFAULT NULL COMMENT '审批流程名称',
  `payment_mode` varchar(64) DEFAULT NULL COMMENT '付款联动模式',
  `split_payment` tinyint DEFAULT '0' COMMENT '是否支持分期付款',
  `travel_form` varchar(64) DEFAULT NULL COMMENT '行程表单',
  `allocation_form` varchar(64) DEFAULT NULL COMMENT '分摊表单',
  `ai_audit_mode` varchar(64) DEFAULT 'disabled' COMMENT 'AI审核模式',
  `relation_remark` varchar(500) DEFAULT NULL COMMENT '关联规则说明',
  `validation_remark` varchar(500) DEFAULT NULL COMMENT '未税校验说明',
  `installment_remark` varchar(500) DEFAULT NULL COMMENT '分期说明',
  `highlights` varchar(500) DEFAULT NULL COMMENT '卡片亮点，使用|分隔',
  `owner_name` varchar(64) DEFAULT NULL COMMENT '维护人',
  `sort_order` int DEFAULT '0' COMMENT '排序号',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `expense_detail_mode_default` varchar(32) DEFAULT NULL COMMENT 'enterprise default mode',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_template_code` (`template_code`),
  KEY `idx_category_code` (`category_code`),
  KEY `idx_template_type` (`template_type`),
  KEY `idx_publish_status` (`publish_status`),
  KEY `idx_pm_document_template_company_id` (`company_id`),
  CONSTRAINT `fk_pm_document_template_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='单据流程模板表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_template`
--

LOCK TABLES `pm_document_template` WRITE;
/*!40000 ALTER TABLE `pm_document_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_document_write_off`
--

DROP TABLE IF EXISTS `pm_document_write_off`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_document_write_off` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'column comment',
  `source_document_code` varchar(64) NOT NULL COMMENT 'column comment',
  `source_field_key` varchar(128) NOT NULL COMMENT 'column comment',
  `target_document_code` varchar(64) NOT NULL COMMENT 'column comment',
  `target_template_type` varchar(32) NOT NULL COMMENT 'column comment',
  `writeoff_source_kind` varchar(32) NOT NULL COMMENT 'column comment',
  `requested_amount` decimal(18,2) NOT NULL DEFAULT '0.00' COMMENT 'column comment',
  `effective_amount` decimal(18,2) DEFAULT NULL COMMENT 'column comment',
  `available_snapshot_amount` decimal(18,2) DEFAULT NULL COMMENT 'column comment',
  `remaining_snapshot_amount` decimal(18,2) DEFAULT NULL COMMENT 'column comment',
  `sort_order` int NOT NULL DEFAULT '1' COMMENT 'column comment',
  `status` varchar(32) NOT NULL DEFAULT 'PENDING_EFFECTIVE' COMMENT 'column comment',
  `effective_at` datetime DEFAULT NULL COMMENT 'column comment',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'column comment',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'column comment',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_document_write_off_source_target` (`source_document_code`,`source_field_key`,`target_document_code`),
  KEY `idx_pm_document_write_off_source` (`source_document_code`,`source_field_key`,`status`),
  KEY `idx_pm_document_write_off_target` (`target_document_code`,`target_template_type`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='table comment';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_document_write_off`
--

LOCK TABLES `pm_document_write_off` WRITE;
/*!40000 ALTER TABLE `pm_document_write_off` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_document_write_off` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_expense_detail_design`
--

DROP TABLE IF EXISTS `pm_expense_detail_design`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_expense_detail_design` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '费用明细设计ID',
  `detail_code` varchar(64) NOT NULL COMMENT '明细设计编码',
  `detail_name` varchar(100) NOT NULL COMMENT '明细设计名称',
  `detail_type` varchar(32) NOT NULL COMMENT '明细类型:NORMAL_REIMBURSEMENT普通报销/ENTERPRISE_TRANSACTION企业往来',
  `detail_description` varchar(500) DEFAULT NULL COMMENT '明细设计说明',
  `schema_json` longtext COMMENT '明细表单结构定义JSON',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_expense_detail_design_code` (`detail_code`),
  KEY `idx_pm_expense_detail_design_type` (`detail_type`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????????????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_expense_detail_design`
--

LOCK TABLES `pm_expense_detail_design` WRITE;
/*!40000 ALTER TABLE `pm_expense_detail_design` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_expense_detail_design` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_expense_type`
--

DROP TABLE IF EXISTS `pm_expense_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_expense_type` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '费用类型ID',
  `parent_id` bigint DEFAULT NULL COMMENT '上级费用类型ID',
  `expense_code` varchar(8) NOT NULL COMMENT '完整费用类型编码',
  `expense_name` varchar(100) NOT NULL COMMENT '费用类型名称',
  `expense_description` varchar(255) DEFAULT NULL COMMENT '费用类型说明',
  `code_level` tinyint NOT NULL COMMENT '编码层级:1一级 2二级',
  `code_prefix` varchar(4) NOT NULL COMMENT '编码前四位归组标识',
  `scope_dept_ids` json DEFAULT NULL COMMENT '限定部门ID数组',
  `scope_user_ids` json DEFAULT NULL COMMENT '限定人员ID数组',
  `invoice_free_mode` varchar(32) NOT NULL DEFAULT 'NOT_FREE' COMMENT '是否免票配置',
  `tax_deduction_mode` varchar(64) NOT NULL DEFAULT 'DEFAULT' COMMENT '税额抵扣与转出配置',
  `tax_separation_mode` varchar(32) NOT NULL DEFAULT 'SEPARATE' COMMENT '价税分离规则',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_expense_type_code` (`expense_code`),
  KEY `idx_pm_expense_type_parent_id` (`parent_id`),
  KEY `idx_pm_expense_type_status` (`status`),
  KEY `idx_pm_expense_type_prefix` (`code_prefix`),
  CONSTRAINT `fk_pm_expense_type_parent_id` FOREIGN KEY (`parent_id`) REFERENCES `pm_expense_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='流程管理费用类型树';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_expense_type`
--

LOCK TABLES `pm_expense_type` WRITE;
/*!40000 ALTER TABLE `pm_expense_type` DISABLE KEYS */;
INSERT INTO `pm_expense_type` VALUES (1,NULL,'660100','差旅费','一级费用类型示例',1,'6601','[]','[]','NOT_FREE','DEFAULT','SEPARATE',1,'2026-03-26 23:18:45','2026-03-26 23:18:45'),(2,NULL,'660200','福利费','一级费用类型示例',1,'6602','[]','[]','FREE','SPECIAL_NO_DEDUCT_NEED_OUT','NOT_SEPARATE',1,'2026-03-26 23:18:45','2026-03-26 23:18:45'),(3,1,'66010001','国内机票','二级费用类型示例，自动挂接到 660100',2,'6601','[]','[]','NOT_FREE','HAS_DEDUCT_NO_DEDUCT_NEED_OUT','SEPARATE',1,'2026-03-26 23:18:45','2026-03-26 23:18:45');
/*!40000 ALTER TABLE `pm_expense_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_form_design`
--

DROP TABLE IF EXISTS `pm_form_design`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_form_design` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '表单设计ID',
  `form_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '表单设计编码',
  `form_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '表单设计名称',
  `template_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '适用模板类型:report/application/loan',
  `form_description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '表单设计说明',
  `schema_json` longtext COLLATE utf8mb4_unicode_ci COMMENT '表单结构定义JSON',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_form_design_code` (`form_code`),
  KEY `idx_pm_form_design_template_type` (`template_type`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_form_design`
--

LOCK TABLES `pm_form_design` WRITE;
/*!40000 ALTER TABLE `pm_form_design` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_form_design` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_process_flow`
--

DROP TABLE IF EXISTS `pm_process_flow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_process_flow` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '流程ID',
  `flow_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '流程编码',
  `flow_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '流程名称',
  `flow_description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '流程说明',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT' COMMENT '流程状态:DRAFT草稿/ENABLED启用/DISABLED停用',
  `current_draft_version_id` bigint DEFAULT NULL COMMENT '当前草稿版本ID',
  `current_published_version_id` bigint DEFAULT NULL COMMENT '当前已发布版本ID',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_process_flow_code` (`flow_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='审批流程';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_process_flow`
--

LOCK TABLES `pm_process_flow` WRITE;
/*!40000 ALTER TABLE `pm_process_flow` DISABLE KEYS */;
INSERT INTO `pm_process_flow` VALUES (1,'PF202603270001','普通报销流程',NULL,'ENABLED',10,10,'2026-03-27 22:08:01','2026-03-27 22:08:01');
/*!40000 ALTER TABLE `pm_process_flow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_process_flow_node`
--

DROP TABLE IF EXISTS `pm_process_flow_node`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_process_flow_node` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '节点ID',
  `version_id` bigint NOT NULL COMMENT '所属流程版本ID',
  `node_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '节点唯一标识',
  `node_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '节点类型:APPROVAL审批/CC抄送/PAYMENT支付/BRANCH分支',
  `node_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '节点名称',
  `scene_id` bigint DEFAULT NULL COMMENT '关联场景ID，仅分支节点可选',
  `parent_node_key` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '父容器节点标识',
  `display_order` int NOT NULL DEFAULT '0' COMMENT '节点显示顺序',
  `config_json` longtext COLLATE utf8mb4_unicode_ci COMMENT '节点配置JSON',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_process_flow_node` (`version_id`,`node_key`),
  KEY `idx_pm_process_flow_node_version_id` (`version_id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_process_flow_node`
--

LOCK TABLES `pm_process_flow_node` WRITE;
/*!40000 ALTER TABLE `pm_process_flow_node` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_process_flow_node` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_process_flow_route`
--

DROP TABLE IF EXISTS `pm_process_flow_route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_process_flow_route` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '路由ID',
  `version_id` bigint NOT NULL COMMENT '所属流程版本ID',
  `route_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '路由唯一标识',
  `source_node_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '来源节点标识',
  `target_node_key` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '目标节点标识，为空表示流转结束',
  `route_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '路由名称',
  `priority` int NOT NULL DEFAULT '1' COMMENT '路由优先级，值越小越先匹配',
  `default_route` tinyint NOT NULL DEFAULT '0' COMMENT '是否默认路由:1是 0否',
  `condition_json` longtext COLLATE utf8mb4_unicode_ci COMMENT '路由条件组JSON',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_process_flow_route` (`version_id`,`route_key`),
  KEY `idx_pm_process_flow_route_version_id` (`version_id`),
  KEY `idx_pm_process_flow_route_source_node_key` (`source_node_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_process_flow_route`
--

LOCK TABLES `pm_process_flow_route` WRITE;
/*!40000 ALTER TABLE `pm_process_flow_route` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_process_flow_route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_process_flow_scene`
--

DROP TABLE IF EXISTS `pm_process_flow_scene`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_process_flow_scene` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '场景ID',
  `scene_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '场景编码',
  `scene_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '场景名称',
  `scene_description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '场景说明',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_process_flow_scene_code` (`scene_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_process_flow_scene`
--

LOCK TABLES `pm_process_flow_scene` WRITE;
/*!40000 ALTER TABLE `pm_process_flow_scene` DISABLE KEYS */;
INSERT INTO `pm_process_flow_scene` VALUES (1,'PS202603270001','标准费用审批','适用于常规报销与申请流程',1,'2026-03-27 21:20:06','2026-03-27 21:20:06'),(2,'PS202603270002','财务复核','适用于财务审核与付款前复核',1,'2026-03-27 21:20:06','2026-03-27 21:20:06'),(3,'PS202603270003','出纳支付','适用于支付执行与付款确认节点',1,'2026-03-27 21:20:06','2026-03-27 21:20:06');
/*!40000 ALTER TABLE `pm_process_flow_scene` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_process_flow_version`
--

DROP TABLE IF EXISTS `pm_process_flow_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_process_flow_version` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '流程版本ID',
  `flow_id` bigint NOT NULL COMMENT '所属流程ID',
  `version_no` int NOT NULL COMMENT '版本号',
  `version_status` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT' COMMENT '版本状态:DRAFT草稿/PUBLISHED已发布/HISTORY历史版本',
  `snapshot_json` longtext COLLATE utf8mb4_unicode_ci COMMENT '流程快照JSON',
  `published_at` datetime DEFAULT NULL COMMENT '发布时间',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pm_process_flow_version` (`flow_id`,`version_no`),
  KEY `idx_pm_process_flow_version_flow_id` (`flow_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_process_flow_version`
--

LOCK TABLES `pm_process_flow_version` WRITE;
/*!40000 ALTER TABLE `pm_process_flow_version` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_process_flow_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_template_category`
--

DROP TABLE IF EXISTS `pm_template_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_template_category` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '分类ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `category_code` varchar(64) NOT NULL COMMENT '分类编码',
  `category_name` varchar(64) NOT NULL COMMENT '分类名称',
  `category_description` varchar(255) DEFAULT NULL COMMENT '分类说明',
  `sort_order` int DEFAULT '0' COMMENT '排序号',
  `status` tinyint DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_category_code` (`category_code`),
  KEY `idx_pm_template_category_company_id` (`company_id`),
  CONSTRAINT `fk_pm_template_category_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='流程模板分类表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_template_category`
--

LOCK TABLES `pm_template_category` WRITE;
/*!40000 ALTER TABLE `pm_template_category` DISABLE KEYS */;
INSERT INTO `pm_template_category` VALUES (1,NULL,'enterprise-payment','企业往来类','适用于对公付款、备用金、押金和供应商结算等场景。',10,1,'2026-03-25 01:16:10','2026-03-25 01:16:10'),(2,NULL,'employee-expense','员工费用类','适用于员工报销、借支和团队费用归集。',20,1,'2026-03-25 01:16:10','2026-03-25 01:16:10'),(3,NULL,'business-application','事项申请类','适用于项目申请、付款触发和专项审批。',30,1,'2026-03-25 01:16:10','2026-03-25 01:16:10');
/*!40000 ALTER TABLE `pm_template_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pm_template_scope`
--

DROP TABLE IF EXISTS `pm_template_scope`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pm_template_scope` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '范围明细ID',
  `template_id` bigint NOT NULL COMMENT '模板ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `option_type` varchar(32) NOT NULL COMMENT '明细类型:EXPENSE_TYPE/SCOPE_OPTION/TAG_OPTION',
  `option_code` varchar(64) NOT NULL COMMENT '选项编码',
  `option_label` varchar(64) NOT NULL COMMENT '选项名称',
  `sort_order` int DEFAULT '0' COMMENT '排序号',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_template_id` (`template_id`),
  KEY `idx_option_type` (`option_type`),
  KEY `idx_pm_template_scope_company_id` (`company_id`),
  CONSTRAINT `fk_pm_template_scope_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='模板范围标签明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pm_template_scope`
--

LOCK TABLES `pm_template_scope` WRITE;
/*!40000 ALTER TABLE `pm_template_scope` DISABLE KEYS */;
/*!40000 ALTER TABLE `pm_template_scope` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_async_task`
--

DROP TABLE IF EXISTS `sys_async_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_async_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '异步任务ID',
  `task_no` varchar(64) NOT NULL COMMENT '任务编号',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `task_type` varchar(32) NOT NULL COMMENT '任务类型',
  `business_type` varchar(64) DEFAULT NULL COMMENT '业务类型',
  `business_key` varchar(128) DEFAULT NULL COMMENT '业务唯一键',
  `display_name` varchar(200) DEFAULT NULL COMMENT '任务名称',
  `status` varchar(20) NOT NULL COMMENT '任务状态:PENDING/RUNNING/SUCCESS/FAILED',
  `progress` int DEFAULT '0' COMMENT '任务进度',
  `result_message` varchar(255) DEFAULT NULL COMMENT '任务结果信息',
  `result_payload` varchar(1000) DEFAULT NULL COMMENT '任务扩展结果',
  `download_record_id` bigint DEFAULT NULL COMMENT '关联下载记录ID',
  `started_at` datetime DEFAULT NULL COMMENT '开始时间',
  `finished_at` datetime DEFAULT NULL COMMENT '结束时间',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_task_no` (`task_no`),
  KEY `idx_user_task_created` (`user_id`,`created_at`),
  KEY `idx_user_task_type_status` (`user_id`,`task_type`,`status`),
  KEY `idx_task_business` (`task_type`,`business_key`),
  KEY `idx_sys_async_task_company_id` (`company_id`),
  CONSTRAINT `fk_sys_async_task_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='异步任务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_async_task`
--

LOCK TABLES `sys_async_task` WRITE;
/*!40000 ALTER TABLE `sys_async_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_async_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_company`
--

DROP TABLE IF EXISTS `sys_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_company` (
  `company_id` varchar(64) NOT NULL COMMENT '公司主体编码',
  `company_code` varchar(64) NOT NULL COMMENT '公司主体编号',
  `company_name` varchar(128) NOT NULL COMMENT '公司主体名称',
  `invoice_title` varchar(200) DEFAULT NULL COMMENT '公司抬头',
  `tax_no` varchar(100) DEFAULT NULL COMMENT '税号',
  `bank_name` varchar(200) DEFAULT NULL COMMENT '开户行',
  `bank_account_name` varchar(200) DEFAULT NULL COMMENT '账户名',
  `bank_account_no` varchar(100) DEFAULT NULL COMMENT '银行账号',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`company_id`),
  UNIQUE KEY `uk_sys_company_company_code` (`company_code`),
  KEY `idx_sys_company_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='公司主体主数据表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_company`
--

LOCK TABLES `sys_company` WRITE;
/*!40000 ALTER TABLE `sys_company` DISABLE KEYS */;
INSERT INTO `sys_company` VALUES ('COMPANY202603260001','COMP202603260001','广州远智教育科技有限公司','广州远智教育科技有限公司','91440101MA5AYPNX57','招商银行股份有限公司广州南方报业支行','广州远智教育科技有限公司','120914165310501',1,'2026-03-26 20:45:39','2026-03-26 20:45:39'),('DEFAULT_COMPANY','DEFAULT_COMPANY','Default Company','Default Company',NULL,NULL,NULL,NULL,1,'2026-03-26 17:21:44','2026-03-26 17:21:44');
/*!40000 ALTER TABLE `sys_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_department`
--

DROP TABLE IF EXISTS `sys_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_department` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '部门ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `dept_code` varchar(64) NOT NULL COMMENT '部门编码',
  `leader_user_id` bigint DEFAULT NULL COMMENT 'department leader user id',
  `dept_name` varchar(128) NOT NULL COMMENT '部门名称',
  `parent_id` bigint DEFAULT NULL COMMENT '上级部门ID',
  `wecom_department_id` varchar(100) DEFAULT NULL COMMENT '企微部门ID',
  `dingtalk_department_id` varchar(100) DEFAULT NULL COMMENT '钉钉部门ID',
  `feishu_department_id` varchar(100) DEFAULT NULL COMMENT '飞书部门ID',
  `sync_source` varchar(32) DEFAULT NULL COMMENT '同步来源:MANUAL/WECOM/DINGTALK/FEISHU/MIXED',
  `sync_enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用同步',
  `sync_managed` tinyint NOT NULL DEFAULT '0' COMMENT '是否由同步接管:1是 0否',
  `sync_status` varchar(32) DEFAULT NULL COMMENT '最近同步状态',
  `sync_remark` varchar(500) DEFAULT NULL COMMENT '同步说明',
  `last_sync_at` datetime DEFAULT NULL COMMENT '最近同步时间',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `sort_order` int NOT NULL DEFAULT '0' COMMENT '排序号',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_department_dept_code` (`dept_code`),
  UNIQUE KEY `uk_sys_department_wecom_department_id` (`wecom_department_id`),
  UNIQUE KEY `uk_sys_department_dingtalk_department_id` (`dingtalk_department_id`),
  UNIQUE KEY `uk_sys_department_feishu_department_id` (`feishu_department_id`),
  KEY `idx_sys_department_company_id` (`company_id`),
  KEY `idx_sys_department_parent_id` (`parent_id`),
  KEY `idx_sys_department_status_sort` (`status`,`sort_order`),
  KEY `idx_sys_department_company_status_sort` (`company_id`,`status`,`sort_order`),
  KEY `idx_sys_department_leader_user_id` (`leader_user_id`),
  CONSTRAINT `fk_sys_department_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`),
  CONSTRAINT `fk_sys_department_leader_user_id` FOREIGN KEY (`leader_user_id`) REFERENCES `sys_user` (`id`),
  CONSTRAINT `fk_sys_department_parent_id` FOREIGN KEY (`parent_id`) REFERENCES `sys_department` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='全局部门树主数据表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_department`
--

LOCK TABLES `sys_department` WRITE;
/*!40000 ALTER TABLE `sys_department` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_download_record`
--

DROP TABLE IF EXISTS `sys_download_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_download_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '下载记录ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `file_name` varchar(200) NOT NULL COMMENT '文件名',
  `business_type` varchar(100) NOT NULL COMMENT '业务类型',
  `status` varchar(20) NOT NULL COMMENT '状态:DOWNLOADING/COMPLETED/FAILED',
  `progress` int DEFAULT '0' COMMENT '下载进度',
  `file_size` varchar(30) DEFAULT NULL COMMENT '文件大小',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `finished_at` datetime DEFAULT NULL COMMENT '完成时间',
  PRIMARY KEY (`id`),
  KEY `idx_user_status` (`user_id`,`status`),
  KEY `idx_sys_download_record_company_id` (`company_id`),
  CONSTRAINT `fk_sys_download_record_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='下载记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_download_record`
--

LOCK TABLES `sys_download_record` WRITE;
/*!40000 ALTER TABLE `sys_download_record` DISABLE KEYS */;
INSERT INTO `sys_download_record` VALUES (1,1,NULL,'3月报销单导出.xlsx','报销明细导出','DOWNLOADING',68,'4.6 MB','2026-03-25 14:21:49',NULL),(2,1,NULL,'待审批单据清单.xlsx','审批清单导出','COMPLETED',100,'2.1 MB','2026-03-24 14:24:49','2026-03-24 14:26:49'),(3,2,NULL,'发票验真结果.csv','发票管理导出','COMPLETED',100,'860 KB','2026-03-23 14:24:49','2026-03-23 14:25:49');
/*!40000 ALTER TABLE `sys_download_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notification_record`
--

DROP TABLE IF EXISTS `sys_notification_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_notification_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '通知ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `title` varchar(100) NOT NULL COMMENT '通知标题',
  `content` varchar(255) NOT NULL COMMENT '通知内容',
  `type` varchar(32) NOT NULL COMMENT '通知类型',
  `status` varchar(16) DEFAULT 'UNREAD' COMMENT '通知状态:UNREAD/READ',
  `related_task_no` varchar(64) DEFAULT NULL COMMENT '关联任务编号',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `read_at` datetime DEFAULT NULL COMMENT '已读时间',
  PRIMARY KEY (`id`),
  KEY `idx_user_notification_status` (`user_id`,`status`,`created_at`),
  KEY `idx_sys_notification_record_company_id` (`company_id`),
  CONSTRAINT `fk_sys_notification_record_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='通知记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notification_record`
--

LOCK TABLES `sys_notification_record` WRITE;
/*!40000 ALTER TABLE `sys_notification_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notification_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_permission`
--

DROP TABLE IF EXISTS `sys_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '权限ID',
  `permission_code` varchar(128) NOT NULL COMMENT '权限编码',
  `permission_name` varchar(100) NOT NULL COMMENT '权限名称',
  `permission_type` varchar(32) NOT NULL COMMENT '权限类型:MENU/BUTTON',
  `parent_id` bigint DEFAULT NULL COMMENT '父级权限ID',
  `module_code` varchar(64) DEFAULT NULL COMMENT '模块编码',
  `route_path` varchar(255) DEFAULT NULL COMMENT '路由路径',
  `sort_order` int NOT NULL DEFAULT '0' COMMENT '排序',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_permission_permission_code` (`permission_code`)
) ENGINE=InnoDB AUTO_INCREMENT=164 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='系统权限表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_permission`
--

LOCK TABLES `sys_permission` WRITE;
/*!40000 ALTER TABLE `sys_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role`
--

DROP TABLE IF EXISTS `sys_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '角色ID',
  `role_code` varchar(64) NOT NULL COMMENT '角色编码',
  `role_name` varchar(100) NOT NULL COMMENT '角色名称',
  `role_description` varchar(500) DEFAULT NULL COMMENT '角色说明',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_role_role_code` (`role_code`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='系统角色表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role`
--

LOCK TABLES `sys_role` WRITE;
/*!40000 ALTER TABLE `sys_role` DISABLE KEYS */;
INSERT INTO `sys_role` VALUES (1,'SUPER_ADMIN','超级管理员','拥有系统全部启用权限',1,'2026-03-26 14:33:27','2026-04-05 01:04:20'),(2,'RL000001','会计',NULL,1,'2026-03-31 20:58:17','2026-03-31 20:58:17'),(3,'RL000002','出纳',NULL,1,'2026-03-31 20:58:23','2026-03-31 20:58:23'),(4,'RL000003','财务总监',NULL,1,'2026-03-31 20:58:39','2026-03-31 20:58:39'),(5,'RL000004','财务经理',NULL,1,'2026-03-31 20:58:45','2026-03-31 20:58:45'),(6,'RL000005','普通用户',NULL,1,'2026-03-31 20:58:51','2026-03-31 20:58:51');
/*!40000 ALTER TABLE `sys_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_permission`
--

DROP TABLE IF EXISTS `sys_role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '角色权限ID',
  `role_id` bigint NOT NULL COMMENT '角色ID',
  `permission_id` bigint NOT NULL COMMENT '权限ID',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_role_permission` (`role_id`,`permission_id`),
  KEY `fk_sys_role_permission_permission_id` (`permission_id`),
  CONSTRAINT `fk_sys_role_permission_permission_id` FOREIGN KEY (`permission_id`) REFERENCES `sys_permission` (`id`),
  CONSTRAINT `fk_sys_role_permission_role_id` FOREIGN KEY (`role_id`) REFERENCES `sys_role` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=553 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='角色权限关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_permission`
--

LOCK TABLES `sys_role_permission` WRITE;
/*!40000 ALTER TABLE `sys_role_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_sync_connector`
--

DROP TABLE IF EXISTS `sys_sync_connector`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_sync_connector` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '同步连接器ID',
  `platform_code` varchar(32) NOT NULL COMMENT '平台编码:DINGTALK/WECOM/FEISHU',
  `platform_name` varchar(50) NOT NULL COMMENT '平台名称',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用',
  `auto_sync_enabled` tinyint NOT NULL DEFAULT '0' COMMENT '是否启用自动同步',
  `sync_interval_minutes` int NOT NULL DEFAULT '60' COMMENT '自动同步周期(分钟)',
  `config_json` json DEFAULT NULL COMMENT '平台连接配置',
  `last_sync_at` datetime DEFAULT NULL COMMENT '最近同步时间',
  `last_sync_status` varchar(32) DEFAULT NULL COMMENT '最近同步状态',
  `last_sync_message` varchar(500) DEFAULT NULL COMMENT '最近同步说明',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_sync_connector_platform_code` (`platform_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='同步连接器配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_sync_connector`
--

LOCK TABLES `sys_sync_connector` WRITE;
/*!40000 ALTER TABLE `sys_sync_connector` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_sync_connector` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_sync_job`
--

DROP TABLE IF EXISTS `sys_sync_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_sync_job` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '同步任务ID',
  `job_no` varchar(64) NOT NULL COMMENT '任务号',
  `platform_code` varchar(32) NOT NULL COMMENT '平台编码',
  `trigger_type` varchar(32) NOT NULL COMMENT '触发方式:MANUAL/AUTO',
  `status` varchar(32) NOT NULL COMMENT '状态:RUNNING/SUCCESS/FAILED',
  `success_count` int NOT NULL DEFAULT '0' COMMENT '成功数',
  `skipped_count` int NOT NULL DEFAULT '0' COMMENT '跳过数',
  `failed_count` int NOT NULL DEFAULT '0' COMMENT '失败数',
  `deleted_count` int NOT NULL DEFAULT '0' COMMENT '删除数',
  `summary` varchar(500) DEFAULT NULL COMMENT '摘要',
  `started_at` datetime DEFAULT NULL COMMENT '开始时间',
  `finished_at` datetime DEFAULT NULL COMMENT '结束时间',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_sync_job_job_no` (`job_no`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='同步任务记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_sync_job`
--

LOCK TABLES `sys_sync_job` WRITE;
/*!40000 ALTER TABLE `sys_sync_job` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_sync_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_sync_job_detail`
--

DROP TABLE IF EXISTS `sys_sync_job_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_sync_job_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '同步任务明细ID',
  `job_id` bigint NOT NULL COMMENT '任务ID',
  `detail_type` varchar(32) NOT NULL COMMENT '明细类型:DEPARTMENT/EMPLOYEE/JOB',
  `action_type` varchar(32) NOT NULL COMMENT '动作类型:UPSERT/DELETE/FAIL',
  `business_key` varchar(128) DEFAULT NULL COMMENT '业务键',
  `detail_status` varchar(32) NOT NULL COMMENT '明细状态',
  `detail_message` varchar(500) DEFAULT NULL COMMENT '明细说明',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `fk_sys_sync_job_detail_job_id` (`job_id`),
  CONSTRAINT `fk_sys_sync_job_detail_job_id` FOREIGN KEY (`job_id`) REFERENCES `sys_sync_job` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='同步任务明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_sync_job_detail`
--

LOCK TABLES `sys_sync_job_detail` WRITE;
/*!40000 ALTER TABLE `sys_sync_job_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_sync_job_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '用户ID',
  `username` varchar(50) NOT NULL COMMENT '用户名',
  `password` varchar(64) NOT NULL COMMENT '密码（MD5加密）',
  `name` varchar(50) DEFAULT NULL COMMENT '姓名',
  `phone` varchar(20) DEFAULT NULL COMMENT '手机号',
  `email` varchar(100) DEFAULT NULL COMMENT '邮箱',
  `dept_id` bigint DEFAULT NULL COMMENT '部门ID',
  `position` varchar(50) DEFAULT NULL COMMENT '职位',
  `labor_relation_belong` varchar(100) DEFAULT NULL COMMENT '劳动关系所属',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `status` tinyint DEFAULT '1' COMMENT '状态：1正常 0禁用',
  `source_type` varchar(32) DEFAULT NULL COMMENT '来源类型:MANUAL/DINGTALK/WECOM/FEISHU',
  `sync_managed` tinyint NOT NULL DEFAULT '0' COMMENT '是否由同步接管:1是 0否',
  `wecom_user_id` varchar(100) DEFAULT NULL COMMENT '企微用户ID',
  `dingtalk_user_id` varchar(100) DEFAULT NULL COMMENT '钉钉用户ID',
  `feishu_user_id` varchar(100) DEFAULT NULL COMMENT '飞书用户ID',
  `last_sync_at` datetime DEFAULT NULL COMMENT '最近同步时间',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_phone` (`phone`),
  KEY `idx_dept` (`dept_id`),
  KEY `idx_sys_user_company_id` (`company_id`),
  KEY `idx_feishu_user_id` (`feishu_user_id`),
  CONSTRAINT `fk_sys_user_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`),
  CONSTRAINT `fk_sys_user_dept_id` FOREIGN KEY (`dept_id`) REFERENCES `sys_department` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_bank_account`
--

DROP TABLE IF EXISTS `sys_user_bank_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_bank_account` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '银行账户ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `company_id` varchar(64) DEFAULT NULL COMMENT '公司主体编码',
  `bank_name` varchar(100) NOT NULL COMMENT '银行名称',
  `branch_name` varchar(100) DEFAULT NULL COMMENT '支行名称',
  `account_name` varchar(100) NOT NULL COMMENT '账户名',
  `account_no` varchar(50) NOT NULL COMMENT '银行卡号',
  `account_type` varchar(50) DEFAULT '对私账户' COMMENT '账户类型',
  `default_account` tinyint DEFAULT '0' COMMENT '是否默认账户',
  `status` tinyint DEFAULT '1' COMMENT '状态:1启用 0停用',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_sys_user_bank_account_company_id` (`company_id`),
  CONSTRAINT `fk_sys_user_bank_account_company_id` FOREIGN KEY (`company_id`) REFERENCES `sys_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户收款账户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_bank_account`
--

LOCK TABLES `sys_user_bank_account` WRITE;
/*!40000 ALTER TABLE `sys_user_bank_account` DISABLE KEYS */;
INSERT INTO `sys_user_bank_account` VALUES (1,1,NULL,'招商银行','上海陆家嘴支行','管理员','6225888888881001','工资卡',1,1,'2026-03-25 14:24:18','2026-03-25 14:24:18'),(2,2,NULL,'建设银行','上海张江支行','张三','6217000012345678','报销卡',1,1,'2026-03-25 14:24:18','2026-03-25 14:24:18'),(3,3,NULL,'工商银行','上海徐汇支行','李四','6222000098765432','报销卡',1,1,'2026-03-25 14:24:18','2026-03-25 14:24:18');
/*!40000 ALTER TABLE `sys_user_bank_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_role`
--

DROP TABLE IF EXISTS `sys_user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_role` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '用户角色ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `role_id` bigint NOT NULL COMMENT '角色ID',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_user_role` (`user_id`,`role_id`),
  KEY `fk_sys_user_role_role_id` (`role_id`),
  CONSTRAINT `fk_sys_user_role_role_id` FOREIGN KEY (`role_id`) REFERENCES `sys_role` (`id`),
  CONSTRAINT `fk_sys_user_role_user_id` FOREIGN KEY (`user_id`) REFERENCES `sys_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户角色关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_role`
--

LOCK TABLES `sys_user_role` WRITE;
/*!40000 ALTER TABLE `sys_user_role` DISABLE KEYS */;
INSERT INTO `sys_user_role` VALUES (1,1,1,'2026-03-26 14:33:27'),(14,2,2,'2026-04-02 23:40:50'),(15,3,4,'2026-04-02 23:40:54'),(18,15,6,'2026-04-04 19:13:17'),(19,16,3,'2026-04-04 19:14:06');
/*!40000 ALTER TABLE `sys_user_role` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-05  2:07:13
